<div class="container">
  <div class="header">
    <span class="header--title">Порядок опроса источников</span>
    <div class="header--close-button" title="Закрыть" (click)="onCloseButtonClicked()">
      <div class="header--close-button--left"></div>
      <div class="header--close-button--right"></div>
    </div>
  </div>
  <div class="currency-sources-list">
    <div class="currency-source-list--item" *ngFor="let source of sources">
      <div class="item--name">{{source.name}}</div>
      <div class="item--url">{{source.url}}</div>
      <div class="item--button--container"></div>
    </div>
  </div>
  <div class="footer"></div>
</div>
