@background-color: #2F343F;
@font-color: #c2c2c2;
@border-radius: 5px;
@base-background-color: #222;
.rounded {
  border-radius: 5px;
}
.full-sized {
  width: 100%;
  height: 100%;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}
