@color--red: #C75450;
@color--green: #47BC9B;

@background-color: #2F343F;
@font-color: #c2c2c2;
@border-radius: 5px;
@base-background-color: #222;
@base-size: 1vmin;
.rounded {
  border-radius: 5px;
}
.shadowed {
  box-shadow: #00000055 0 0 10px;
}
.full-sized {
  width: 100%;
  height: 100%;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}
